html{
    box-sizing: border-box;
    height: 100%
}

*,
*::before,
*::after{
    box-sizing: inherit;
    
}

body {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: no-repeat;
    background: url(/archivos/fondomercedes.png);
}

.titulo {
    justify-content: center;
    --fill-color: #7fffd4;
    position: relative;
    display: block;
    padding: 4px 0;
    font: 700 3rem Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 50 100%) left / 0 no-repeat;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
    .li{
        padding: 6px 0;
    }
    a {
        --fill-color: #7fffd4;
        position: relative;
        display: block;
        padding: 4px 0;
        font: 600 3rem Raleway, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-text-stroke: 2px var(--fill-color);
        background: linear-gradient(var(--fill-color) 50 100%) left / 0 no-repeat;

}

    .no-repeat {
        color: transparent;
        background-clip: text;
        transition: 0.3s linear;
    }

    :hover {
        background-size: 100%;
        }


    
.texto1 {
    color: #7fffd4;
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 2.5em;
    font-family: "Cinzel",Arial, Helvetica, sans-serif;
}
/*para poner px siempre dividir entre 16 y poner em, ejemplo: 6,25 em*/

